<template>
  <v-app id="inspire">
    <Header/>
    <div style="margin-top: 100px">
      <v-container>
        <slot name="main"></slot>
      </v-container>
    </div>
  </v-app>
</template>

<script>
  import Header from '../Header'

  export default {
    name: 'layout',
    components: {
      Header
    },
    data: () => ({}),
  }
</script>

