<template>
  <base-layout v-slot:main>
    TOURNAMENTS
  </base-layout>
</template>

<script>
  import BaseLayout from '../BaseLayout'

  export default {
    components: {
      'base-layout': BaseLayout
    }
  }
</script>
