<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script>

  import api from '../src/api/index'

  export default {
    name: 'App',
    created() {
      let instance = this.$store.state.apiAuth;


      instance.interceptors.response.use(undefined, err => {
        let res = err.response;

        if (res.status === 401 && res.config && !res.config.__isRetryRequest) {
          return new Promise((resolve, reject) => {

            const {currentRoute} = this.$router;


            const {dispatch} = this.$store;
            dispatch('authentication/logout');

            let authorize = currentRoute.meta;

            if (authorize) {
              if (authorize.authorize.length && authorize.authorize.includes('Admin')) {
                this.$router.push('/login')
              }
            }
          });
        }
      })
    }
  }
</script>

<style>
  .v-dialog__content {
    z-index: 6000 !important;
  }
</style>
