<template>
  <base-layout v-slot:main>
    <v-data-table
      :headers="headers"
      :items="users"
      sort-by-desc="isPlayer"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Создать</v-btn>
            </template>
            <v-card>

              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12" v-show="!isEdited">
                      <v-text-field v-model="editedItem.email" label="Email"/>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.firstName" label="Имя"/>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.lastName" label="Фамилия"/>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.imageSmall" label="Фото"/>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" v-show="!isEdited">
                      <v-text-field type="password" v-model="editedItem.password" label="Пароль"/>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                      <v-checkbox v-model="editedItem.isPlayer" label="Игрок?"/>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer/>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          edit
        </v-icon>
      </template>

    </v-data-table>
  </base-layout>
</template>

<script>
  import BaseLayout from '../BaseLayout'
  import userApi from '../../../api/user'

  export default {
    components: {
      'base-layout': BaseLayout
    },
    data: () => ({
      stopLoad: false,
      page: 1,
      dialog: false,
      headers: [
        {
          text: 'Email',
          align: 'left',
          sortable: true,
          value: 'email',
        },
        { text: 'Игрок?', value: 'isPlayer' },
        { text: 'Имя', value: 'firstName' },
        { text: 'Фамилия', value: 'lastName' },
        { text: 'Фото', value: 'imageSmall' },
        { text: 'Actions', value: 'action', sortable: false },
      ],
      users: [],
      editedIndex: -1,
      editedItem: {
          isPlayer: false,
          email: '',
          firstName: '',
          lastName: '',
          imageSmall: '',
          password: ''
      },
      defaultItem: {
          isPlayer: false,
          email: '',
          firstName: '',
          lastName: '',
          imageSmall: '',
          password: ''
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Изменить User'
      },
      isEdited () {
        return this.editedIndex !== -1
      },
    },
    created () {
      this.initialize()
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    methods: {
      async initialize () {
        this.stopLoad = false;
        this.page = 1;
        this.users = [];
        while (this.stopLoad === false) {
          let params = {'page[number]': this.page};

          await this.$store.dispatch('jvAuth/get', ['players', {params: params}]).then((data) => {
            if (Object.keys(data).length === 0) {
              this.stopLoad = true;
            }

            for (var prop in data) {
              this.users.push(data[prop])
            }

            this.page++
          })
        }
      },

      editItem (item) {
        this.editedIndex = this.users.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      async save () {

        if (this.editedIndex > -1) {
          let id = this.editedItem._jv.id;
          delete this.editedItem._jv;

          const player = {
            _jv: {
              type: 'players',
              id: id,
              attrs: this.editedItem
            },
          };

          this.$store.dispatch('jvAuth/patch', [player, {}]).then((data) => {
            this.initialize()
          })
        } else {

          let type = {
            _jv: {
              type: 'players',
            },
          };

          const newPlayer = Object.assign(type, this.editedItem)
          this.$store.dispatch('jvAuth/post', [newPlayer, {}]).then((data) => {
            this.initialize()
          })
        }
        this.close()
      },
    }
  }
</script>
