<template>
  <base-layout v-slot:main>
    <v-data-table
      :headers="headers"
      :items="tournaments"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Создать</v-btn>
            </template>
            <v-card>

              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.attributes.name" label="Название"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.attributes.logo" label="Logo"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.attributes.website" label="Website"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          edit
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>

    </v-data-table>
  </base-layout>
</template>

<script>
  import BaseLayout from '../BaseLayout'
  import tournamentApi from '../../../api/tournament'

  export default {
    components: {
      'base-layout': BaseLayout
    },
    data: () => ({
      dialog: false,
      headers: [
        { text: 'ID', value: 'id' },
        {
          text: 'Название',
          align: 'left',
          sortable: true,
          value: 'attributes.name',
        },
        { text: 'Logo', value: 'attributes.logo' },
        { text: 'Website', value: 'attributes.website' },
        { text: 'Actions', value: 'action', sortable: false },
      ],
      tournaments: [],
      editedIndex: -1,
      editedItem: {
        attributes: {
          name: '',
          logo: '',
          website: '',
        }
      },
      defaultItem: {
        attributes: {
          name: '',
          logo: '',
          website: '',
        }
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новый Турнир' : 'Изменить Турнир'
      },
      isEdited () {
        return this.editedIndex !== -1
      },
    },
    created () {
      this.initialize()
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    methods: {
      async initialize () {
        const tournaments = await tournamentApi.getAllTournamentsForAcp('', {}, true);

        this.tournaments = tournaments.data.data;
      },
      editItem (item) {
        this.editedIndex = this.tournaments.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      async save () {
        if (this.editedIndex > -1) {
          try {
            let tournament = this.tournaments[this.editedIndex];

            await tournamentApi.updateTournament(tournament);
          } catch (e) {
            console.log(e)
          }
        } else {
          try {
            let tournament = await tournamentApi.createTournament(this.editedItem.attributes);
            // console.log(tournament)
            this.tournaments.push(tournament.data.data)
          } catch (e) {

          }
        }
        this.close()
      },
    }
  }
</script>
