<template>
  <div>
    <Header/>
    <v-navigation-drawer
      permanent
      width="100%"
      style="margin-top: 20px"
    >
      <div style="margin-top: 100px">
      </div>
      <v-layout fill-height>

        <v-navigation-drawer
          expand-on-hover
          permanent
        >
          <v-list
          >
            <v-list-item
              @click=""
              to="/acp/users"
              link
            >
              <v-list-item-action>
                <v-icon>supervisor_account</v-icon>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>
                  Юзеры
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              @click=""
              to="/acp/tournaments"
              link
            >
              <v-list-item-action>
                <v-icon>event_note</v-icon>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>
                  Турниры
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              @click=""
              to="/acp/games"
              link
            >
              <v-list-item-action>
                <v-icon>games</v-icon>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>
                  Игры
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>


            <v-list-item
              @click=""
              to="/acp/teams"
              link
            >
              <v-list-item-action>
                <v-icon>T</v-icon>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>
                  Команды
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

          </v-list>
        </v-navigation-drawer>
<!--        <v-navigation-drawer-->
<!--          mini-variant-width="56"-->
<!--          permanent-->
<!--        >-->
<!--          <v-divider></v-divider>-->

<!--          <v-list-->
<!--          >-->
<!--            <v-list-item-->
<!--              @click=""-->
<!--              to="/acp/users"-->
<!--              link-->
<!--            >-->
<!--              <v-list-item-action>-->
<!--                <v-icon>supervisor_account</v-icon>-->
<!--              </v-list-item-action>-->

<!--              <v-list-item-content>-->
<!--                <v-list-item-title>-->
<!--                  Юзеры-->
<!--                </v-list-item-title>-->
<!--              </v-list-item-content>-->
<!--            </v-list-item>-->

<!--            <v-list-item-->
<!--              @click=""-->
<!--              to="/acp/tournaments"-->
<!--              link-->
<!--            >-->
<!--              <v-list-item-action>-->
<!--                <v-icon>event_note</v-icon>-->
<!--              </v-list-item-action>-->

<!--              <v-list-item-content>-->
<!--                <v-list-item-title>-->
<!--                  Турниры-->
<!--                </v-list-item-title>-->
<!--              </v-list-item-content>-->
<!--            </v-list-item>-->

<!--            <v-list-item-->
<!--              @click=""-->
<!--              to="/acp/games"-->
<!--              link-->
<!--            >-->
<!--              <v-list-item-action>-->
<!--                <v-icon>games</v-icon>-->
<!--              </v-list-item-action>-->

<!--              <v-list-item-content>-->
<!--                <v-list-item-title>-->
<!--                  Игры-->
<!--                </v-list-item-title>-->
<!--              </v-list-item-content>-->
<!--            </v-list-item>-->

<!--          </v-list>-->
<!--        </v-navigation-drawer>-->

        <v-content>
          <v-container fluid>
            <slot name="main"></slot>
          </v-container>
        </v-content>
      </v-layout>
    </v-navigation-drawer>
  </div>


</template>

<script>
  import Header from '../Header'

  export default {
    name: 'layout',
    components: {
      Header
    },
    data: () => ({
      items: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Photos', icon: 'mdi-image' },
        { title: 'About', icon: 'mdi-help-box' },
      ],
      right: null,
    }),
  }
</script>


<style>
  .layout {
    display: -webkit-box !important;
  }
</style>
