<template>
  <base-layout v-slot:main>
    <v-container class="grey lighten-5">
      <v-row
        class="mb-6"
        no-gutters
      >

        <v-col
          sm="6"
          md="6"
        >
          <v-card
            class="pa-2"
            outlined
            tile
          >
            .col-sm-6 .col-md-6
          </v-card>
        </v-col>

        <v-col
          sm="6"
          md="6"
        >
          <v-card
            class="pa-2"
            outlined
            tile
          >
            .col-sm-6 .col-md-6
          </v-card>
        </v-col>


        <v-col
          sm="6"
          md="6"
        >
          <v-card
            class="pa-2"
            outlined
            tile
          >
            .col-sm-6 .col-md-6
          </v-card>
        </v-col>

        <v-col
          sm="6"
          md="6"
        >
          <v-card
            class="pa-2"
            outlined
            tile
          >
            .col-sm-6 .col-md-6
          </v-card>
        </v-col>




      </v-row>
    </v-container>
  </base-layout>
</template>

<script>
  import BaseLayout from './../BaseLayout'

  export default {
    components: {
      'base-layout': BaseLayout
    }
  }
</script>
