<template>
  <v-card style="position: fixed; width: 100%; z-index: 5000">
    <v-toolbar
      color="blue accent-5"
      dark
      flat
    >
      <img src="https://img.icons8.com/color/24/000000/football2--v1.png">
      <v-toolbar-title>Netpeak Group</v-toolbar-title>

      <v-spacer></v-spacer>

      <div v-show="loggingIn">
        <v-menu bottom left>
          <template v-slot:activator="{ on }">
            <v-btn
              dark
              icon
              v-on="on"
            >
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item>
              <v-list-item-title>
                <v-btn text small @click="logoutUser">Выйти</v-btn>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>

      <template v-slot:extension>
        <v-tabs centered>
          <v-tab to="/tournaments">Новости</v-tab>
          <v-tab to="/games">Матчи</v-tab>
          <v-tab to="/players">Игроки</v-tab>
          <v-tab to="/tournaments">Турниры</v-tab>
        </v-tabs>
      </template>
    </v-toolbar>
  </v-card>
</template>


<script>
  export default {
    name: 'Header',
    data: () => ({
    }),
    methods: {
      logoutUser() {
        const {dispatch} = this.$store;
        dispatch('authentication/logout');
      }
    },
    computed: {
      loggingIn() {
          return this.$store.getters['authentication/isUserloggedIn'];
      },
      userEmail() {
        if (this.loggingIn) {
          return this.$store.state.authentication.user.email;
        }
      },
      isAdminUser() {
        return this.$store.getters['authentication/isUserAdmin'];
      }
    },
  }
</script>
