<template>
  <base-layout v-slot:main>
      <div class="row" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <div class="col-sm-3 col-md-2 margin-btm-20" v-for="(item, i) in players">
          <div class="tm_foto_box">
            <a data-toggle="tooltip" href="https://netpeak.ua/team/stalker/" class="tm_foto">
              <img class="lazyload back"
                   data-original="https://images.netpeak.net/pup/uploads/site_1/images/c_stalker.jpg"
                   :src="item.imageSmall" style="display: block;">
            </a>
          </div>
          <div class="tm_name">
            <div class="triangle"></div>
            <a href="/team/stalker/">
              {{ item.firstName }} {{ item.lastName }}
            </a>
          </div>
        </div>
      </div>
  </base-layout>
</template>

<script>
  import BaseLayout from './../BaseLayout'

  export default {
    components: {
      'base-layout': BaseLayout
    },
    data: () => ({
      players: [],
      page: 1,
      stopLoad: false,
      busy: false
    }),
    created () {
      // this.loadMore()
    },
    methods: {
      loadMore: function() {
        this.busy = true;

        if (this.stopLoad === false) {
          const params = { 'page[number]': this.page };
          this.$store.dispatch('jv/get', ['players', { params: params }]).then((data) => {


            if (Object.keys(data).length == 0) {
              this.stopLoad = true;
            }


            for (var prop in data) {
              this.players.push(data[prop])
            }
            this.page++
          });

          this.busy = false;
        }
      }
      // loadMore: function() {
      //   this.busy = true;
      //
      //   const params = { 'page[number]': this.page };
      //
      //   this.$store.dispatch('jv/get', ['players', { params: params }]).then((data) => {
      //     this.players = data;
      //   });
      //
      //   // setTimeout(() => {
      //   //   for (var i = 0, j = 10; i < j; i++) {
      //   //     this.data.push({ name: this.count++ });
      //   //   }
      //   //   this.busy = false;
      //   // }, 1000);
      // }
    }
  }
</script>

<style>
  .tm_foto_box {
    position: relative;
    text-align: center;
  }

  .tm_foto {
    display: block;
    width: 120px;
    height: 190px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    -o-perspective: 1400px;
    perspective: 1400px;
  }
  .tm_foto img {
    border: 6px solid #ECEBEB;
    height: 190px;
    margin: 0 auto;
  }

  .tm_name {
    border: 1px solid #ECEBEB;
    border-radius: 4px;
    font-size: 17px;
    height: 45px;
    margin: 17px auto 0;
    max-width: 200px;
    min-width: 100px;
    padding: 6px;
    position: relative;
    text-align: center;
  }


  .tm_name a {
    white-space: nowrap;
    color: #00B8E4 !important;
    text-decoration: none;
  }

</style>
