<template>
  <base-layout v-slot:main>
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <v-card class="elevation-12">
          <v-card-text>
            <form @submit.prevent="loginUser">
              <v-text-field
                label="Login"
                name="email"
                prepend-icon="person"
                type="text"
                v-model="form.email"
                :error="loginError"
              ></v-text-field>

              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="lock"
                type="password"
                v-model="form.password"
                :error-messages="validationForm.errors  "
              ></v-text-field>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" type="submit">Login</v-btn>
          </v-card-actions>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </base-layout>
</template>


<script>
  import BaseLayout from '../BaseLayout'

  export default {
    data: () => ({
      form: {
        email: '',
        password: ''
      },
      validationForm : {
        errors: []
      },
      loginError: false,
      sending: false,
      lastUser: null
    }),
    components: {
      'base-layout': BaseLayout
    },

    methods: {
      async loginUser () {
        this.sending = true

        const { dispatch } = this.$store
        const { email, password } = this.form

        try {
          let res = await dispatch('authentication/login', { email, password })

          this.$router.push({ name: 'home' });
        } catch (e) {
          this.loginError = true;
          this.validationForm.errors.push('Неверный email или пароль')
          // this.sending = false
        }
      }
    }
  }
</script>

