<template>
  <base-layout v-slot:main>
    <v-data-table
      :headers="headers"
      :items="teams"
      class="elevation-1"
    >

      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Создать</v-btn>
            </template>
            <v-card>

              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.name" label="Название"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.logo" label="Logo"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="saveTeam">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>


        </v-toolbar>
      </template>

      <template v-slot:item.action="{ item }" v-slot:activator="{ on }">
        <v-btn class="mr-2" color="primary" @click="managePlayers(item)">Управление игроками</v-btn>

        <v-icon
          small
          class="mr-2"
          @click="editTeam(item)"
        >
          edit
        </v-icon>

        <v-icon
          small
          class="mr-2"
          @click="removeTeam(item)"
        >
          delete
        </v-icon>
      </template>

    </v-data-table>

    <v-dialog v-model="dialogEditPlayers" max-width="500px">
      <players-manage-widget
        v-bind:teamManage="teamManage"
        v-bind:allCheckedPlayers="allCheckedPlayers"
        v-bind:allPlayers="allPlayers"
        v-bind:team="editedItem"
        v-on:dialogEditPlayers="destroy"
      />
    </v-dialog>

  </base-layout>
</template>

<script>
  import BaseLayout from '../BaseLayout'
  import PlayersManageWidget from './PlayersManageWidget'

  export default {
    components: {
      'base-layout': BaseLayout,
      'players-manage-widget': PlayersManageWidget
    },
    data: () => ({
      dialog: false,
      dialogEditPlayers: false,
      teams: [],
      allPlayers: [],
      stopLoadAllPlayers: false,
      allCheckedPlayers: [],
      countCheckedPlayers: 0,
      teamManage: null,
      pageAllPlayers: 1,
      headers: [
        {
          text: 'Название',
          align: 'left',
          sortable: true,
          value: 'name',
        },
        {text: 'Logo', value: 'logo'},
        // { text: 'Website', value: 'attributes.website' },
        {text: 'Actions', value: 'action', sortable: false},
      ],

      editedIndex: -1,

      editedItem: {
        name: '',
        logo: '',
      },
      defaultItem: {
        name: '',
        logo: '',
      },
    }),
    created() {
      this.initialize();
      this.initializeAllPlayers();
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Новая команда' : 'Изменить команду'
      },
      isEdited() {
        return this.editedIndex !== -1
      },
    },
    methods: {
      async initialize() {
        this.teams = [];
        const res = await this.$store.dispatch('jvAuth/get', ['teams', {}]).then((data) => {
          for (var prop in data) {
            this.teams.push(data[prop]);
          }
        });
      },
      close() {
        this.dialog = false;

        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      async saveTeam() {
        if (this.editedIndex > -1) {
          let id = this.editedItem._jv.id;
          delete this.editedItem._jv;

          const team = {
            _jv: {
              type: 'teams',
              id: id,
              attrs: this.editedItem
            },
          };

          this.$store.dispatch('jvAuth/patch', [team, {}]).then((data) => {
            this.initialize()
          })
        } else {

          let type = {
            _jv: {
              type: 'teams',
            },
          };

          console.log(this.editedItem);
          const newTeam = Object.assign(type, this.editedItem)
          this.$store.dispatch('jvAuth/post', [newTeam, {}]).then((data) => {
            this.teams.push(data)
          })
        }
        this.close()
      },

      editTeam(team) {
        this.editedIndex = this.teams.indexOf(team);
        this.editedItem = Object.assign({}, team);
        this.dialog = true
      },
      removeTeam(team) {
        let id = team._jv.id;
        this.$store.dispatch('jvAuth/delete', { _jv: { type: 'teams', id: id } }).then((data) => {
          this.initialize()
        })
      },
      managePlayers(item) {
        this.editedIndex = this.teams.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialogEditPlayers = true

        this.initializeCheckedPlayers(item)
      },
      destroy() {
        this.dialogEditPlayers = false
      },

      async initializeAllPlayers() {
        while (this.stopLoadAllPlayers === false) {
          let params = {'page[number]': this.pageAllPlayers};

          await this.$store.dispatch('jv/get', ['players', {params: params}]).then((data) => {
            if (Object.keys(data).length === 0) {
              this.stopLoadAllPlayers = true;
            }

            for (var prop in data) {
              this.allPlayers.push(data[prop])
            }

            this.pageAllPlayers++
          })
        }
      },

      async initializeCheckedPlayers(team) {
        let teamId = team._jv.id;
        this.allCheckedPlayers = [];
        let params = {'include': 'players'};
        let widget = 'teams/' + teamId;

        await this.$store.dispatch('jvAuth/get', ['teams/', {params: params}]).then((data) => {

          let players = data[teamId].players;
          for (var prop in players) {
            this.allCheckedPlayers.push(players[prop])
          }

          this.countCheckedPlayers = this.allCheckedPlayers.length

          this.teamManage = data[teamId];
        })
      },
    }
  }
</script>
