<template>
  <v-card>
    <v-card-title>
      <span class="headline">Управление игроками</span>
    </v-card-title>

    <v-card-text>
      <v-col cols="12" sm="12" md="12">
        <v-container fluid>

          <v-combobox
            v-model="allCheckedPlayersLocal"
            :items="allPlayers"
            :item-text="text"
            item-value="_jv.id"
            multiple
            @change="onPlayerChange"
          >
            <template v-slot:selection="{ attrs, item, parent, selected }">
              <v-chip
                v-if="item === Object(item)"
                v-bind="attrs"
                :input-value="selected"
                label
                small
              >
                      <span class="pr-2">
                        {{ item.firstName }} {{ item.lastName }}
                      </span>
                <v-icon
                  small
                  @click="parent.selectItem(item)"
                >close
                </v-icon>
              </v-chip>
            </template>
          </v-combobox>
        </v-container>
      </v-col>
    </v-card-text>

    <v-card-actions>
      <v-btn color="blue darken-1" text @click.stop="close">Cancel</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    props: ['team', 'allPlayers', 'allCheckedPlayers', 'teamManage'],
    data: () => ({
      allCheckedPlayersLocal: [],
    }),
    created() {
      this.allCheckedPlayersLocal = this.allCheckedPlayers;
    },
    methods: {
      text: item => item.firstName + ' ' + item.lastName,

      onPlayerChange(items) {
        let players = [];
        for (var prop in items) {
          let playerWidget = {
            'type': 'players',
            'id': items[prop]._jv.id
          }
          players.push(playerWidget)
        }

        let widget = 'teams/' + this.teamManage._jv.id;

        this.teamManage['_jv']['relationships']['players']['data'] = players;
        this.$store.dispatch('jvAuth/patch', this.teamManage)
      },

      close() {
        this.$emit("dialogEditPlayers");
      },
    },
  }
</script>
